<div class="section1">

    <div id="loading"></div>
    
  <div class="container my-5 py-5" *ngIf="invalidRegister">
      <form [formGroup]="loginForm" (ngSubmit)="registerUser()" class="formBox">
      <div class="mb-3">
          <h1 class="mb-4">New account</h1>
          <div class="avatar mb-4"><img src="images/avatar.png"></div>
        <label for="username" class="form-label">Username</label>
        <!-- One way to bind data to model in Angular  -->
        <input type="text" class="form-control" id="username" formControlName="username" />
        <div class="validBox" *ngIf="submitted && loginForm.get('username')?.invalid">
          <div class="validationMsg" *ngIf="loginForm.get('username')?.errors?.['required']">
            Username is required.
          </div>
          <div class="validationMsg" *ngIf="loginForm.get('username')?.errors?.['minlength']">
            Username needs to be at least 5 characters.
          </div>
        </div>
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" />
        <div class="validBox" *ngIf="submitted && loginForm.get('password')?.invalid">
            <div class="validationMsg" *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required.
            </div>
            <div class="validationMsg" *ngIf="loginForm.get('password')?.errors?.['minlength']">
              Password needs to be at least 6 characters.
            </div>
          </div>
      </div>

      <div id="errorMsg" class="errorMsg" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-success mt-4">Register Account</button>
      <button type="button" class="btn btn-primary mt-4 mx-3 button-danger" (click)="goBack()">Go Back</button>
 
    </form>
  </div>
  <div id="" class="container divs my-5 py-5 successdiv" *ngIf="!invalidRegister">
    <p style="color: green;">Successfully registered an account!</p>
    <h1>Welcome to BetHaven</h1>
    <p class="my-4">You've been logged in as <span>{{ addLoginRequest.userName | titlecase}}</span></p>
    <img src="https://www.animatedimages.org/data/media/279/animated-sports-image-0052.gif">
    <div><button type="button" class="btn btn-primary mx-2" (click)="goBack()">Back</button>
    <a routerLink="/"><button type="button" class="btn btn-danger mx-2" (click)="logOut()">Logout</button></a></div>
  </div>
  </div>
  
  
  