<div class="section1">
    <div class="container divs my-2 py-5">
        <h1>My Bets:</h1>


        <table class="table tabletext" *ngIf="bets && bets.length > 0">
            <thead>
                <tr>
                    <th>MatchID</th>
                    <th>Matchup</th>
                    <th>Score</th>
                    <th>Bet on</th>
                    <th>Amount</th>
                    <th>Result</th>
                </tr>
            </thead>

            <div style="display:contents;"  id="activeMatches">
            <ng-container *ngFor="let bet of bets" >
            <tr class="tablerow"> 
                <td>{{ bet.matchId }}</td>
                <td>{{ bet.participatingTeams[0].name}} vs {{ bet.participatingTeams[1].name}}</td>
                <td>{{ bet.participatingTeams[0].score}} - {{ bet.participatingTeams[1].score}}</td>
                <td>{{ bet.team | titlecase }}</td>
                <td>{{ bet.amount }}$</td>
                <td *ngIf="bet.betResult == '0'">Undetermined</td>
                <td *ngIf="bet.betResult == '1'">Loss</td>
                <td *ngIf="bet.betResult == '2'">Won</td>
                </tr> 
            </ng-container>
            </div>
            </table>

            <div *ngIf="bets.length === 0"><p>Uhhhh go place some bets!!!<p></div>


        <button type="button" class="btn btn-primary mt-4 mx-3 button-danger" (click)="goBack()">Go Back</button>
    </div>
</div>