    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Change Password</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close button"
            aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body" style="text-align: center;">
        <form [formGroup]="loginForm">
            <div class="mb-3">
              <label for="Password" class="form-label mb-3">New password:</label>     
              <input type="password" class="form-control mb-3" id="password" formControlName="password"> 
              <div class="validBox my-2" *ngIf="submitted && loginForm.get('password')?.invalid">
                <div class="validationMsg" *ngIf="loginForm.get('password')?.errors?.['required']">
                  Password is required.
                </div>
                <div class="validationMsg" *ngIf="loginForm.get('password')?.errors?.['minlength']">
                  Password needs to be at least 6 characters.
                </div>
              </div>
              <label for="passwordCheck" class="form-label mb-3">Confirm password:</label>     
              <input type="password" class="form-control" id="passwordCheck" formControlName="passwordCheck">  
              <div class="validBox mt-3" *ngIf="submitted && loginForm.get('passwordCheck')?.invalid">
                <div class="validationMsg" *ngIf="loginForm.get('passwordCheck')?.errors?.['required']">
                  Please repeat your new password.
                </div>
              </div>
            </div>    
          </form>

          
      <div id="errorMsg" class="errorMsg" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="submit" class="btn btn-success" (click)="updatePassword()">Confirm Changes</button>
    </div>