<div class="section1 tablediv">
    <div class="container my-2 divs py-5">
        <h1 class="mb-3">Players</h1>
        <div>
            <button type="button" class="btn btn-primary mt-3 mb-5" (click)="GoAddPlayer()" *ngIf="credentials.role === 'Admin' && isUserAuthenticated()" id="addbutton">Create a Player</button>
            <table class="table tabletext" *ngIf="players && players.length > 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Overall</th>
                        <th>Potential</th>
                        <th>Pace</th>
                        <th>Shooting</th>
                        <th>Passing</th>
                        <th>Dribbling%</th>
                        <th>Defense</th>
                        <th>Physical</th>
                        <th *ngIf="credentials.role === 'Admin' && isUserAuthenticated()"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" [(ngModel)]="model.name"></td>
                        <td></td>
                        <td><input type="number" [(ngModel)]="model.overall"></td>
                        <td><input type="number" [(ngModel)]="model.potential"></td>
                        <td><input type="number" [(ngModel)]="model.pace"></td>
                        <td><input type="number" [(ngModel)]="model.shooting"></td>
                        <td><input type="number" [(ngModel)]="model.passing"></td>
                        <td><input type="number" [(ngModel)]="model.dribbling"></td>
                        <td><input type="number" [(ngModel)]="model.defense"></td>
                        <td><input type="number" [(ngModel)]="model.physical"></td>
                        <td *ngIf="credentials.role === 'Admin' && isUserAuthenticated()"></td>
                    </tr>
                    <tr *ngFor="let player of searchedPlayers">
                        <td> {{player.name}}</td>
                        <td> {{player.age}}</td>
                        <td> {{player.overall}}</td>
                        <td> {{player.potential}}</td>
                        <td> {{player.pace}}</td>
                        <td> {{player.shooting}}</td>
                        <td> {{player.passing}}</td>
                        <td> {{player.dribbling}}</td>
                        <td> {{player.defense}}</td>
                        <td> {{player.physical}}</td>
                        <td *ngIf="credentials.role === 'Admin' && isUserAuthenticated()">
                            <a [routerLink]="['/players', 'edit', player.id]"><button type="button" class="btn btn-primary">Change player</button></a>
                            <button type="button" class="btn btn-danger" (click)="deletePlayer(player.id)">Delete player</button>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
            <p *ngIf="!players || players.length <= 0">No Players found</p>
        </div>
    </div>
</div>