.slider {
  width: 100%;
}

@media screen and (max-width: 500px) {
  img {
    width: 300px;
    height: 250px;
  }
}

.errorMsg{
  animation: blinker 0.9s linear;
  animation-iteration-count: 3;
  padding-right: 9vh;
}