<!-- Inbuilt Bootstrap CSS -->
<!-- my-5 = Margin on Y axis 5 (up and down) -->

<div class="section1">
  
    <!-- spinnner element is 
        defined with id loading -->
        <div class="d-flex justify-content-center">
            <div class="" role="status">
                <span class="sr-only" id="loading"></span>
            </div>
        </div>
      
    <!-- data from API is displayed  -->
    
    <div class="container my-2 divs py-5" id="availableteamcontainer">
        <h1 class="mb-3">Available Teams</h1>
        <table class="table tabletext" *ngIf="teams && teams.length > 0">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            
        <div class="tableDivColumns tablediv"> 
            <div *ngFor="let teams of teams">
                {{ teams.name }}
            </div>
        </div>
    
        <div id="errorMsg" class="errorMsg" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </table>  

          <div class="mt-5" style="color: cyan;">
          Two random teams will be picked and matched up against eachother!
        </div>
           <button class="btn btn-success mt-3" (click)="createMatch()">Create A Match</button>
           <a routerLink="/matches"><button type="button" class="btn btn-primary mt-3 mx-3 button-danger">Go Back</button></a>
    </div>
    </div>