<div class="section1">

    <div class="container divs my-2 py-5 d-1">
        <h1 class="mb-4">User Dashboard</h1>
        <div class="avatar mb-4"><img src="images/avatar.png"></div>
        <p>Username: {{ credentials.userName | titlecase }} </p>
        <p>Balance: {{credentials.balance}}$</p>
        <p>Role: {{credentials.role}}</p>
    <div class="profile">
        <button class="btn btn-warning mt-3" (click)="openPassword()">My Bets</button>
        <button class="btn btn-success mt-3" (click)="openPassword()">Change Password</button>
        <button class="btn btn-danger mt-3" (click)="openConfirm()">Delete Account</button> 
    </div>
</div>



