ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  position: absolute;
  top: 10%;
  right: 50%;
}

li {
  margin-bottom: 10px;
  margin-right: 20px;
}

#canvas {
  border: 1px solid black;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 1200px;
  height: 600px;
  z-index: 9;
  background-color: darkgreen;
}

button {
  position: relative;
  z-index: 1;
}

.gamesection {
  z-index: -1;
  height: 100vh;
  padding-top: 190px;
  background-color: rgb(0, 0, 0, 1);
}

body {
  background-color: rgb(0, 0, 0);
}

#go {
  font-size: 50px;
  display: none;
  position: absolute;
  right: 40%;
  z-index: 99;
}

#countdown {
  font-size: 50px;
  display: none;
  position: absolute;
  right: 40%;
  z-index: 99;
}