<div class="gamesection">
  <div class="container">
    <h1>Animal Race Craze</h1>
    <ul>
      <li *ngFor="let animal of animals">{{ animal.name }}: {{ animal.speed }} Speed - {{animal.strength}} Strength</li>
    </ul>
    <!-- Make this pop on screen like the countdown!-->
    <div id="winner" *ngIf="winnerMsg">
      <h2>{{ winnerMsg }} WINS!!!!</h2>
    </div>
    <button class="btn btn-success" (click)="simulateRace()">Start race</button>
    <p id="countdown">{{countdown}}</p>
    <p id="go">GO!!!</p>
    <!-- <button (click)="resetRace()">Reset</button> -->
    <canvas id="canvas"></canvas>
  </div>
</div>