<div class="section1">
    <div class="container my-2 divs py-5">
        <h1 class="mb-3">Add new Player</h1>
        <div class="row">
            <div class="col-4">          
                <form #form="ngForm" (ngSubmit)="addPlayer()">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addPlayerRequest.name">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="age" class="form-label">Nationality</label>
                                        <input type="text" class="form-control" id="age" name="age" [(ngModel)]="addPlayerRequest.nationality">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="overall" class="form-label">Age</label>
                                        <input type="number" class="form-control" id="overall" name="overall" [(ngModel)]="addPlayerRequest.age">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="potential" class="form-label">Height(cm)</label>
                                        <input type="number" class="form-control" id="potential" name="potential" [(ngModel)]="addPlayerRequest.height_cm">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="pace" class="form-label">Weight(kg)</label>
                                        <input type="number" class="form-control" id="pace" name="pace" [(ngModel)]="addPlayerRequest.weight_kg">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="shooting" class="form-label">Overall</label>
                                        <input type="number" class="form-control" id="shooting" name="shooting" [(ngModel)]="addPlayerRequest.overall">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="passing" class="form-label">Positions</label>
                                        <input type="text" class="form-control" id="passing" name="passing" [(ngModel)]="addPlayerRequest.player_positions">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="dribbling" class="form-label">Preferred foot</label>
                                        <input type="text" class="form-control" id="dribbling" name="dribbling" [(ngModel)]="addPlayerRequest.preferred_foot">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" class="btn btn-success mt-1">Add Player</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary mt-1" (click)="GoBack()">Go Back</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-4">
                <select name="teams" id="teams" [(ngModel)]="selectedTeam" (change)="addTeam()">
                    <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
                </select>
            </div>
            <div class="col-4">
                <table>
                    <thead>
                        <tr>
                            <td>Team Name</td>
                        </tr>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let team of selectedTeamArray">
                            <td>{{team.name}}</td>
                            <td>
                                <button class="btn-danger btn mt-3" (click)="removeFromSelectedTeamArray(team)">Remove from selection</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>