<!-- Inbuilt Bootstrap CSS -->
<!-- my-5 = Margin on Y axis 5 (up and down) -->

<div class="section3 tablediv">
  
    <!-- spinnner element is 
        defined with id loading -->
        <div class="d-flex justify-content-center">
            <div class="" role="status">
                <span class="sr-only" id="loading"></span>
            </div>
        </div>
      
    <!-- data from API is displayed  -->
    
    <div class="container my-2 divs py-5" id="schedulecontainer">
        <h1 class="mb-3">Schedule of Matches</h1>

        <!-- <button type="button" class="btn btn-primary mt-3 mb-5" (click)="GoAddMatch()" id="addbutton">Create a Match</button> -->
        <table class="table tabletext" *ngIf="matches && matches.length > 0">
            <thead>
                <tr>
                    <th>Match Date</th>
                    <th>Teams</th>
                    <th>Score</th>
                    <th>State</th>
                    <th> </th>
                </tr>
            </thead>

            <tr class="tablerow" *ngFor="let match of matches">  
                <td>{{ match.dateOfMatch | date: 'dd/MM/yyyy hh:mm' }}</td>
                <!-- <td *ngFor="let teams of match.participatingTeams">{{teams.team.name}} </td> -->
                <td>{{match.participatingTeams[0].team.name}} vs {{match.participatingTeams[1].team.name}}</td>

                <td>{{match.teamAScore}} - {{match.teamBScore}}</td>
    
                <td *ngIf="match.matchState == 0">Not Started Yet</td>
                <td *ngIf="match.matchState == 1">Playing</td>
                <td *ngIf="match.matchState == 2">Finished</td>
                <!-- <td><a [routerLink]="['/matches', 'edit', match.id]"><button class="btn btn-success mt-3">Edit</button></a>
                    <a><button class="btn btn-danger mt-3" (click)="deleteMatch(match.id)">Delete</button></a></td> -->
            </tr> 
        </table>  
    
        <div id="errorMsg" class="errorMsg" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
    </div>
    </div>