<!-- Inbuilt Bootstrap CSS -->
<!-- my-5 = Margin on Y axis 5 (up and down) -->

<div class="section3 tablediv">
  
    <!-- spinnner element is 
        defined with id loading -->
        <div id="loading"></div>
      
    <!-- data from API is displayed  -->
    
    <div class="container my-2 divs py-5" id="schedulecontainer">
        <h1 class="mb-3">Schedule of Matches</h1>
        <button class="btn btn-warning" id="archivedMatchesButton" (click)="showArchivedMatches()">Show Archived Matches</button>
        <button class="btn btn-warning" id="activeMatchesButton" (click)="showActiveMatches()">Show Active Matches</button>

        <!-- <button type="button" class="btn btn-primary mt-3 mb-5" (click)="GoAddMatch()" id="addbutton">Create a Match</button> -->
        <table matSort (matSortChange)="sortData($event)" class="table tabletext" *ngIf="games && games.length > 0" id="activeMatches">
            <thead>
                <tr>
                    <th mat-sort-header="dateOfMatch" class="test">Match Date</th>
                    <th>Teams</th>
                    <th>Score</th>
                    <th>State</th>
                    <th> </th>
                </tr>
            </thead>
            <ng-container *ngFor="let games of sortedGames" >
            <tr class="tablerow" *ngIf="games.matchState != 2" (click)="GoMatchDetails(games.id)"> 
                <td>{{ games.dateOfMatch | date: 'dd. MMM yyyy HH:mm' }}</td>
                <td>{{ games.participatingTeams[0].name}} vs {{games.participatingTeams[1].name}}</td>

                <td>{{games.participatingTeams[0].score}} - {{games.participatingTeams[1].score}}</td>
    
                <td *ngIf="games.matchState == 0">Not Started Yet</td>
                <td *ngIf="games.matchState == 1">Playing</td>
                
                <!-- <td><a [href]="['#section2']"><button class="btn btn-warning">Bet on Match</button></a>   -->
                <!-- <td><a [routerLink]="['/matches', 'edit', game.id]"><button class="btn btn-warning">Bet on Match</button></a>   -->
                </tr> 
            </ng-container>
        </table>  

        <mat-paginator id="paginator" [length]="finishedGames.length" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>

        <table matSort (matSortChange)="sortDataTest($event)" class="table tabletext" *ngIf="games && games.length > 0" id="archivedMatches">
            <thead>
                <tr>
                    <th mat-sort-header="dateOfMatch" class="test">Match Date</th>
                    <th>Teams</th>
                    <th>Score</th>
                    <th>State</th>
                    <th> </th>
                </tr>
            </thead>
            <ng-container *ngFor="let games of pagedGames" >
                <tr class="tablerow" *ngIf="games.matchState == 2"> 
                    <td>{{ games.dateOfMatch | date: 'dd. MMM yyyy HH:mm' }}</td>
                    <td>{{ games.participatingTeams[0].name}} vs {{games.participatingTeams[1].name}}</td>
    
                    <td>{{games.participatingTeams[0].score}} - {{games.participatingTeams[1].score}}</td>
        
                    <td *ngIf="games.matchState == 2">Finished</td>
                    <!-- <td><a [routerLink]="['/matches', 'edit', game.id]"><button class="btn btn-warning">Bet on Match</button></a>   -->
                    </tr> 
                </ng-container>
        </table>  





    
        <div id="errorMsg" class="errorMsg" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
    </div>
    </div>