<!-- Inbuilt Bootstrap CSS -->
<!-- my-5 = Margin on Y axis 5 (up and down) -->

<div class="section3 tablediv">
  
    <!-- spinnner element is 
        defined with id loading -->
        <div id="loading"></div>
      
    <!-- data from API is displayed  -->
    
    <div class="container my-2 divs py-5" id="schedulecontainer">
        <h1 class="mb-3">Schedule of Matches</h1>
        <button class="btn btn-warning" id="archivedMatchesButton" (click)="showArchivedMatches()">Show Archived Matches</button>
        <button class="btn btn-warning" id="activeMatchesButton" (click)="showActiveMatches()">Show Active Matches</button>

        <!-- <button type="button" class="btn btn-primary mt-3 mb-5" (click)="GoAddMatch()" id="addbutton">Create a Match</button> -->
        <div id="activeMatches">
        <table matSort (matSortChange)="sortData($event)" class="table tabletext" *ngIf="games && games.length > 0">
            <thead>
                <tr>
                    <th mat-sort-header="dateOfMatch">Match Date</th>
                    <th mat-sort-header="name">Teams</th>
                    <th>Score</th>
                    <th>League</th>
                    <th>State</th>
                    <th> </th>
                </tr>
            </thead>
            <ng-container *ngFor="let games of sortedGames" >
            <tr class="tablerow"  (click)="GoMatchDetails(games.id)"> 
                <td>{{ games.dateOfMatch | date: 'dd. MMM yyyy HH:mm' }}</td>

                <td *ngIf="games.participatingTeams[0].name == 'BYE'">{{ games.participatingTeams[1].name}} got a BYE</td>
                <td *ngIf="games.participatingTeams[1].name == 'BYE'">{{ games.participatingTeams[0].name}} got a BYE</td>
                <td *ngIf="games.participatingTeams[1].name != 'BYE' && games.participatingTeams[0].name != 'BYE' && games.participatingTeams[1].name != 'TBD' || games.participatingTeams[0].name != 'TBD' ">{{ games.participatingTeams[0].name}} vs {{games.participatingTeams[1].name}}</td>
                <td *ngIf="games.participatingTeams[1].name == 'TBD' && games.participatingTeams[0].name == 'TBD' ">TBD</td>

                <td>{{games.participatingTeams[0].score}} - {{games.participatingTeams[1].score}}</td>

                <td *ngIf="games.league != null">{{games.league}}</td>
                <td *ngIf="games.league == null">No league</td>
    
                <td *ngIf="games.matchState == 0">Not Started Yet</td>
                <td *ngIf="games.matchState == 1">First Half</td>
                <td *ngIf="games.matchState == 2">Half Time Pause</td>
                <td *ngIf="games.matchState == 3">Second Half</td>
                <td *ngIf="games.matchState == 4">OverTime</td>
                <td *ngIf="games.matchState == 5">Penalty Shootout</td>
                
                <!-- <td><a [href]="['#section2']"><button class="btn btn-warning">Bet on Match</button></a>   -->
                <!-- <td><a [routerLink]="['/matches', 'edit', game.id]"><button class="btn btn-warning">Bet on Match</button></a>   -->
                </tr> 
            </ng-container>
        </table>  
    </div>

        <mat-paginator id="paginator" [length]="finishedGames.length" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>

        <div id="archivedMatches">
        <table matSort (matSortChange)="sortData($event)" class="table tabletext" *ngIf="finishedGames && finishedGames.length > 0">
            <thead>
                <tr>
                    <th mat-sort-header="dateOfMatch" class="test">Match Date</th>
                    <th mat-sort-header="name">Teams</th>
                    <th>Score</th>
                    <th>State</th>
                    <th> </th>
                </tr>
            </thead>
            <ng-container *ngFor="let finGames of pagedGames" >
                <tr class="tablerow" *ngIf="finGames.matchState == 6"> 
                    <td>{{ finGames.dateOfMatch | date: 'dd. MMM yyyy HH:mm' }}</td>
                    <td>{{ finGames.participatingTeams[0].name}} vs {{finGames.participatingTeams[1].name}}</td>
    
                    <td>{{finGames.participatingTeams[0].score}} - {{finGames.participatingTeams[1].score}}</td>
        
                    <td *ngIf="finGames.matchState == 6">Finished</td>
                    <!-- <td><a [routerLink]="['/matches', 'edit', game.id]"><button class="btn btn-warning">Bet on Match</button></a>   -->
                    </tr> 
                </ng-container>
        </table>  
    </div>

        <div id="errorMsg" class="errorMsg" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
    </div>
    </div>