.tabletext {
    color: white;
   }

   table {
    border-collapse:separate; 
    border-spacing: 0 2em;
  }
   
  #loading {
    background-image: url('src/images/spinner.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 37%;
    top: 10%;
    z-index: 1;
    width: 500px;
    height: 500px;
   }
   
   #schedulecontainer {
    display: none;
   }
   
   #addbutton {
    display: none;
   }
   
   .errorMsg {
    font-weight: bold;
    font-size: 20px;
    color: red;
    text-shadow: 2px 0 0 #000, 2px 1px 0 #000, 1px 1.7px 0 #000, -1px 2px 0 #000;
    width: 20%;
    padding: 4px;
    margin: auto;
   }
     