<div class="section1 tablediv">
    <div class="container my-2 divs py-5">
        <div>
            <button class="btn btn-success" (click)="saveChanges()">Save changes</button>
        </div>
        <div class="d-flex justify-content-between">
            <table class="col-6">
                <thead>
                    <tr>
                        <th>Players not on the team</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of playersNotOnTeam">
                        <td>{{player.name}}</td>
                        <td><button class="btn-danger btn" (click)="addPlayerToTeam(player.id)">Add player to team</button></td>
                    </tr>
                </tbody>
            </table>
            <table class="col-6 right">
                <thead>
                    <tr>
                        <th></th>
                        <th>Players on the team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of playersOnTeam">
                        <td><button class="btn-danger btn" (click)="removePlayerFromTeam(player.id)">Remove player from team</button></td>
                        <td>{{player.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>