tr{
    display: flex;
    width: 100%;
    margin-top: 1rem;
}
th{
    width: 100%;
}
td{
    width: 100%;
    vertical-align: middle;
}

thead{
    display: flex;
}
tbody{
    display: flex;
    flex-direction: column;
}

table{
    width: 40%;
}