<div class="section1">
    <!-- Need better solution here not sure whats going on -->
  <div class="container divs my-5 py-5">
      <form [formGroup]="matchForm" (ngSubmit)="updateMatch()">
      <div class="mb-3">
          <h1 class="mb-5">Edit a match</h1>
        <label for="matchState" class="form-label mb-3">Game State</label>

        <select class="form-control" id="matchState" formControlName="matchState" [(ngModel)]= "matchDetails.matchState">
          <option value="0">Not started yet</option>
          <option value="1">Playing</option>
          <option value="2">Finished</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success mt-4">Confirm Changes</button>
      <a routerLink="/matches"><button type="button" class="btn btn-primary mt-4 mx-3 button-danger">Go Back</button></a>

    </form>
  </div>
  </div>


