<div class="section1">
    <div class="container my-2 divs py-5">
        <h1 class="mb-3">Add new Player</h1>
        <div class="row">
            <div class="col-4">          
                <form #form="ngForm" (ngSubmit)="addPlayer()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addPlayerRequest.name">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" name="age" [(ngModel)]="addPlayerRequest.age">
                    </div>
                    <div class="mb-3">
                    </div>
                    <button type="submit" class="btn btn-success mt-4">Add Player</button>
                    <a routerLink="/players"><button type="button" class="btn btn-primary mt-4 mx-3 button-danger">Go Back</button></a>
                </form>
            </div>
            <div class="col-4">
                <form #form="ngForm" (ngSubmit)="addTeam()">
                    <select name="teams" id="teams" [(ngModel)]="selectedTeam">
                        <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-success mt-4">Add Player</button>
                </form>
            </div>
            <div class="col-2">
                <table>
                    <thead>
                        <tr>
                            <td>Team Name</td>
                        </tr>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let team of selectedTeamArray">
                            <td>{{team.id}}</td>
                            <td>
                                <button class="btn-danger btn mt-3" (click)="removeFromSelectedTeamArray(team)">Remove from selection</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <table>
                    <tbody>
                        <tr *ngFor="let team of addPlayerRequest.teams">
                            <td>{{team.teamId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>