<div class="section1">
    <div class="container my-5">
        <h1 class="mb-3">Edit Player</h1>
        <div class="row">
            <div class="col-4">
                <form #form="ngForm" (ngSubmit)="updatePlayer()">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="playerDetails.name">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="age" class="form-label">Age</label>
                                        <input type="number" class="form-control" id="age" name="age" [(ngModel)]="playerDetails.age">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="overall" class="form-label">Overall</label>
                                        <input type="number" class="form-control" id="overall" name="overall" [(ngModel)]="playerDetails.overall">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="potential" class="form-label">Potential</label>
                                        <input type="number" class="form-control" id="potential" name="potential" [(ngModel)]="playerDetails.potential">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="pace" class="form-label">Pace</label>
                                        <input type="number" class="form-control" id="pace" name="pace" [(ngModel)]="playerDetails.pace">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="shooting" class="form-label">Shooting</label>
                                        <input type="number" class="form-control" id="shooting" name="shooting" [(ngModel)]="playerDetails.shooting">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="passing" class="form-label">Passing</label>
                                        <input type="number" class="form-control" id="passing" name="passing" [(ngModel)]="playerDetails.passing">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="dribbling" class="form-label">Dribbling</label>
                                        <input type="number" class="form-control" id="dribbling" name="dribbling" [(ngModel)]="playerDetails.dribbling">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-3">
                                        <label for="defense" class="form-label">Defense</label>
                                        <input type="number" class="form-control" id="defense" name="defense" [(ngModel)]="playerDetails.defense">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <label for="physical" class="form-label">Physical</label>
                                        <input type="number" class="form-control" id="physical" name="physical" [(ngModel)]="playerDetails.physical">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <button type="submit" class="btn btn-success mt-1">Save Changes</button>
                            </tr>
                            <tr>
                                <button type="button" class="btn btn-primary mt-1" (click)="GoBack()">Go Back</button>
                            </tr>
                            <tr>
                                <button type="button" class="btn btn-danger mt-1" (click)="deletePlayer(playerDetails.id)">Delete Player</button>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-4">
                <label for="teams">Select teams that the player plays on</label>
                <select name="teams" id="teams" [(ngModel)]="selectedTeam" (change)="addTeam()">
                    <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
                </select>
            </div>
            <div class="col-4">
                <table>
                    <thead>
                        <tr>
                            <td>Team Name</td>
                        </tr>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let team of selectedTeamArray">
                            <td>{{team.name}}</td>
                            <td>
                                <button class="btn-danger btn mt-3" (click)="removeFromSelectedTeamArray(team)">Remove from selection</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>