@import '@angular/cdk/a11y-prebuilt.css';
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

h1 {
    text-shadow: rgb(0, 0, 0) 4px 0px 0px, rgb(0, 0, 0) 3.87565px 0.989616px 0px, rgb(0, 0, 0) 3.51033px 1.9177px 0px, rgb(0, 0, 0) 2.92676px 2.72656px 0px, rgb(0, 0, 0) 2.16121px 3.36588px 0px, rgb(0, 0, 0) 1.26129px 3.79594px 0px, rgb(0, 0, 0) 0.282949px 3.98998px 0px, rgb(0, 0, 0) -0.712984px 3.93594px 0px, rgb(0, 0, 0) -1.66459px 3.63719px 0px, rgb(0, 0, 0) -2.51269px 3.11229px 0px, rgb(0, 0, 0) -3.20457px 2.39389px 0px, rgb(0, 0, 0) -3.69721px 1.52664px 0px, rgb(0, 0, 0) -3.95997px 0.56448px 0px, rgb(0, 0, 0) -3.97652px -0.432781px 0px, rgb(0, 0, 0) -3.74583px -1.40313px 0px, rgb(0, 0, 0) -3.28224px -2.28625px 0px, rgb(0, 0, 0) -2.61457px -3.02721px 0px, rgb(0, 0, 0) -1.78435px -3.57996px 0px, rgb(0, 0, 0) -0.843183px -3.91012px 0px, rgb(0, 0, 0) 0.150409px -3.99717px 0px, rgb(0, 0, 0) 1.13465px -3.8357px 0px, rgb(0, 0, 0) 2.04834px -3.43574px 0px, rgb(0, 0, 0) 2.83468px -2.82216px 0px, rgb(0, 0, 0) 3.44477px -2.03312px 0px, rgb(0, 0, 0) 3.84068px -1.11766px 0px, rgb(0, 0, 0) 3.9978px -0.132717px 0px;
}

html {
    scroll-behavior: smooth
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
}

form {
    margin: auto;
    width: 30%;
}

.tablediv {
    overflow-y: scroll;
}

.divs {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    transition: all 400ms ease;
}

.errorMsg {
    animation: blinker 0.9s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.section1 {
    padding-top: 120px;
    background-image: url("https://img.freepik.com/free-vector/gradient-football-field-background_23-2149013230.jpg?w=1380&t=st=1674046652~exp=1674047252~hmac=f7cd29a06058eda83d904826b68cf66223ad166281ba6e2d64c0807e34c2fa6c");
    height: 100vh;
    background-repeat: repeat;
    background-size: cover;
}

.section2 {
    height: 100vh;
    background-image: url('images/wallpaper2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 {
    height: 100vh;
}

.section3 {
    padding-top: 120px;
    background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-league-of-legends-city-tournament-e-sports-competition-background-picture-image_1143124.jpg");
    height: 100vh;
    background-repeat: repeat;
    background-size: cover;
}

#loading {
    background-image: url('src/images/spinner.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 37%;
    top: 10%;
    z-index: 1;
    width: 500px;
    height: 500px;
}

.tabletext {
    color: white;
}

.footer {
    background-image: url('images/footer2.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-color: #000;
    box-shadow: 0 0 5px 10px #000;
    display: flex;
    justify-content: center;
}

/* MODAL STYLINGS (HAS TO BE IN GLOBAL CSS FILE) */

.modal-login .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: auto;
}

.modal-login {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-bet .modal-content {
    background-color: rgba(45, 0, 45, 1);
    border-radius: 10px;
}

.modal-rounded .modal-content {
    border-radius: 10px;
    background-color: rgba(45, 0, 45, 1)
}

.modal-confirmpass .modal-content {
    border-radius: 60px;
    background-color: rgba(45, 0, 45, 1)
}

/* PAGINATOR STYLINGS */

/* Removing any tooltip popups from paginator icons */
mat-tooltip-component {
    display: none !important;
  }


  /* MAT SORT STYLINGS */

  .mat-sort-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* MAT ICON STYLINGS */

  .mat-icon {
    vertical-align: middle;
    margin-top: -4px;
  }

/* MEDIA QUERIES */