.footer {
        background-image: url('https://wallpaperset.com/w/full/6/6/5/120003.jpg');
        height: 400px;
        background-size: 700px;
        background-position: 580px;
        background-repeat: no-repeat;
}

 div {
    padding: 40px;
 }