<div class="footer">

  <footer class="footer-section" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="row mt-4 footer-container">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-container">
        <h5 class="text-uppercase">Site links</h5>

        <ul class="list-unstyled mb-0">
          <li class="my-3">
            <a href="#!" class="text-white"><mat-icon style="color: lightskyblue;">people</mat-icon> About us</a>
          </li>
          <li class="my-3">
            <a href="#!" class="text-white"><mat-icon style="color: lightskyblue;">help</mat-icon> FAQ</a>
          </li>
          <li class="my-3">
            <a href="#!" class="text-white"><mat-icon style="color: lightskyblue;">library_books</mat-icon> Rules</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mx-4 footer-container">
        <h5 class="text-uppercase">My BetHaven Experience</h5>

        <ul class="list-unstyled">
          <li>
            <p>As a Sporthaven member, you can start interacting with our various features so you never miss a beat on the
              most important matches to you. Sign up today – it’s fast, easy and free!</p>
          </li>
          <a routerLink="/register" class="my-5 link">Join now</a>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mx-4 footer-container">
        <h5 class="text-uppercase">Connect</h5>

        <ul class="list-unstyled">
          <li>
            <p>Any game of any sport or tournament events held at Sporthaven is bound to be unforgettable. Contact our
              professional team today to get started planning your next move today.</p>
          </li>
          <a routerLink="/contact" class="my-5 link">Contact us</a>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!-- <div class="p-2 mx-5">Follow us <i class="fab fa-twitter"></i></div> -->

    <!-- Copyright -->
    <div class="copyright footer-container">
      <p>Copyright © 2023 SPORTHAVEN. All rights reserved.</p>
      <p><a class="tos">Terms of Use</a> | <a class="tos">Privacy Policy</a> </p>
    </div>
    <!-- Copyright -->
  </footer>

</div>