.footer-section {
       width: 100%;
}

.footer-container {
       padding: 40px;
}

.copyright {
       background-color: rgba(0, 0, 0, 0.2);
       color: rgba(50, 50, 50, 1);
       display: flex;
       justify-content: space-between;
}
/*
.copyright .footer-container{
       padding-top: 10vh;
} */

a:link {
       text-decoration: none;
}

.link {
       color: #ffe680ff;
}

.tos {
       color: rgba(50, 50, 50, 1);
       text-decoration: none;
}

.text-white{
       font-family: rakesly;
       letter-spacing: 2px;
       color: #ffe680ff;
}

.text-uppercase{
       font-family:  rakesly;
       letter-spacing: 2px;
       color: #ffe680ff;
}

@media screen and (max-width: 1800px) {
       .footer-container {
              padding: 30px;
       }
}