form {
    width: 60%;
    text-align: center;
  }
  
  input {
    width: 35%;
    margin: 0 auto;
  }

  select {
    width: 14%;
    margin: 0 auto;
  }

  .readonly {
  background: red;
  font-weight: bold;
  font-size: 17px;
  height: 40px;
  border-radius: 5px;
  border: 1px black solid;
}

.readonly:focus {
 border: none;
 outline-color: blue;
 outline-style: solid;
}

.readonly:active {
 border: none;
}