<!-- Inbuilt Bootstrap CSS -->
<!-- my-5 = Margin on Y axis 5 (up and down) -->

<div class="section1 tablediv" id="tablediv">
  
    <!-- spinnner element is 
        defined with id loading -->
        <div id="loading"></div>
      
    <!-- data from API is displayed  -->
    
    <div class="container my-2 divs py-5" id="teamcontainer">
        <h1 class="mb-3">Teams</h1>

        <div id="overflow-div">
            Scroll down for more..
            <img style="height: 25px; position: absolute; top: -35%; right: -20%;" src="/images/arrow.png">
          </div>

        <button type="button" class="btn btn-primary mt-3 mb-5" (click)="GoAddTeam()" id="addbutton" *ngIf="role == 'Admin' && !errorMessage">Create a Team</button>

        <table matSort (matSortChange)="sortData($event)" class="table tabletext" *ngIf="teams && teams.length > 0">
            <thead>
                <tr>
                    <th mat-sort-header="name" class="test">Name</th>
                    <th>Number Of players on the team</th>
                    <th>In a Match?</th>
                    <th> </th>
                </tr>
                <tr>
                    <td><input type="text" [(ngModel)]="searchString"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr class="tablerow" *ngFor="let teams of sortedTeams | slice:(0+numberOfTeamsShown*pageNumber):(numberOfTeamsShown+numberOfTeamsShown*pageNumber)">  
                    <td>{{ teams.name }}</td>
                    <td>{{ teams.players.length}}</td>
                    <td>{{ teams.availability }}</td>
                    <td><a><button class="btn btn-success mt-3" (click)="GoEditTeam(teams.id)" *ngIf="storedCredentialsString && role == 'Admin'">Edit</button></a>
                        <a [routerLink]="['/teams', 'players', teams.id]"><button class="btn btn-primary mt-3">View Players</button></a>
                        <a><button class="btn btn-danger mt-3" (click)="deleteTeam(teams.id)" *ngIf="storedCredentialsString && role == 'Admin'">Delete</button></a></td>
                </tr> 
            </tbody>
        </table>
        <table class="position-relative top-90 start-50 translate-middle-x" *ngIf="teams && sortedTeams.length > numberOfTeamsShown">
            <tbody>
                <tr>
                    <td *ngIf="pageNumber > 2">
                        <button type="button" class="btn btn-primary" (click)="pageNumber = 0">First</button>
                    </td>
                    <td *ngIf="pageNumber > 1">
                        <button type="button" class="btn btn-primary" (click)="pageNumber = pageNumber - 2">{{pageNumber - 1}}</button>
                    </td>
                    <td *ngIf="pageNumber > 0">
                        <button type="button" class="btn btn-primary" (click)="pageNumber = pageNumber - 1">{{pageNumber}}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">{{pageNumber + 1}}</button>
                    </td>
                    <td *ngIf="(pageNumber * numberOfTeamsShown) + numberOfTeamsShown < sortedTeams.length">
                        <button type="button" class="btn btn-primary" (click)="pageNumber = pageNumber + 1">{{pageNumber + 2}}</button>
                    </td>
                    <td *ngIf="(pageNumber * numberOfTeamsShown) + numberOfTeamsShown * 2 < sortedTeams.length">
                        <button type="button" class="btn btn-primary" (click)="pageNumber = pageNumber + 2">{{pageNumber + 3}}</button>
                    </td>
                    <td *ngIf="(pageNumber * numberOfTeamsShown) + numberOfTeamsShown * 3 < sortedTeams.length">
                        <button type="button" class="btn btn-primary" (click)="pageNumber = ((sortedTeams.length - sortedTeams.length % numberOfTeamsShown) / numberOfTeamsShown)">Last</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <div id="errorMsg" class="errorMsg" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

    </div>
    </div>