

  table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 3px;
  }
  
  td {
    padding: 8px;
    text-align: left;
    border-bottom: none;
  }

  .divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  fa-icon:hover {
    cursor: pointer;
  }

  .test {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  #icon {
    size: 100px;
  }

