.divs {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 5px;
}

td {
  text-align: left;
}

.test {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
}


#icon {
  size: 100px;
}

.arrowIcon:hover {
  cursor: pointer;
}

.grid {
  /* background-color: white; */
  display: flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

.grid:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.datecell {
  /* background-color: red; */
  flex: 0 0 15%;
  margin-left: 40px;
  margin-right: 40px;
}

.namecell {
  /* background-color: blue; */
  flex: 0 0 40%;
}

.cell {
  /* background-color: yellow; */
  flex: 0 0 15%;
  margin-right: 100px;
}

.goalcell {
  /* background-color: purple; */
  flex: 0 0 10%;
}

.leagueName {
  color: #ffe680ff;
  letter-spacing: 1px;
}

p {
  margin: auto;
  color: #ffe680ff;
  font-family: Rakesly;
  font-weight: 400;
  letter-spacing: 1px;
}

.leagueState {
  color: #d45500ff;
  display: flex;
  align-items: center;
  justify-content: center;

}

.leagueTable{
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.test:hover{
  background-color: rgba(40, 23, 23, 0.883);
  cursor: pointer;
}

.test:hover .leagueName{
  animation: logoShadowAnimation .5s ease forwards;
  cursor: pointer;
}


.showHide{
  display: none;
  margin: auto;
  color: #ffe680ff;
  font-family: Rakesly;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: larger;
}

.test:hover .showHide{
  display: block;
}

@keyframes logoShadowAnimation {
  15%{
      text-shadow:
      0px 0px 1px rgb(160, 44, 44, 0.5);
  }
  /* 50% {
      text-shadow: 20px -20px 2px #a02c2cff, 30px -30px 2px #d45500ff;
  } */
  25%{
      text-shadow:
      2px -2px 1px rgb(160, 44, 44, 0.5);
    }
  50%{
      text-shadow:
      2px -2px 1px rgb(160, 44, 44, 0.5),
      4px -4px 1px rgb(212, 85, 0, 0.5);
    }
  100% {
      text-shadow:
      2px -2px 1px rgb(160, 44, 44, 0.5),
      4px -4px 1px rgb(212, 85, 0, 0.5),
      6px -6px 1px rgb(253, 180, 22, 0.5)
    }
}
