.errorMsg {
  height: max-content;
  font-weight: bold;
  font-size: 20px;
  color: red;
  text-shadow: 2px 0 0 #000, 2px 1px 0 #000, 1px 1.7px 0 #000, -1px 2px 0 #000;
  width: 100%;
  padding: 1px;
  margin: auto;
  animation: blinker 1.5s linear infinite;
}

#loading {
  display: none;
}

.formBox {
  border: 7px solid rgb(255, 0, 255, 0.1);
  border-radius: 15% 15%;
  background-color: rgb(0, 0, 0, 0.9);
  padding: 20px;
  width: 550px;
}

.container {
  text-align: center;
}

.logoheader{
  text-decoration: none;
}

.my-4{
    text-align: center;
    font-family: 'Rakesly';
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffe680ff;
    margin-left: 5vh;
    margin-top: 2vh;
}