<div id="section2" class="section2">
    <div class="left-grid">
        <div class="divBulletpoints">
            <h1 class="bulletpoint">Track live scores</h1>
            <h1 class="bulletpoint">Follow top leagues</h1>
            <h1 class="bulletpoint">Search player stats</h1>
            <h1 class="bulletpoint">Bet on sport matches</h1>
            <div class="joinNow" routerLink="/register">
                <h1  class="bulletpointLink">JOIN NOW</h1>
            </div>
        </div>
    </div>
    <div class="right-grid">
        <div class="slide-in" #slideInDiv>
            <div class="divs">
                <h1 class="matchInfo">{{ team1 }} vs {{ team2 }}</h1>
                <h1 class="matchInfo">{{ score1 }} - {{ score2 }}</h1>
                <h1 class="matchInfo">{{ stopwatch }}</h1>
                <div class="my-5"><img src="images/simu.gif"></div>
            </div>
        </div>
    </div>
</div>