/* Image Transformation CSS */

.d-1 {
  --c: #1095c1; /* the color */
  --b: .1em;    /* border length*/
  --d: 20px;    /* the cube depth */
  
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path: 
    polygon(
     var(--d) 0%, 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;
}
.d-1:hover {
  transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );
}

img {
    border: rgba(255, 0, 255, 0.3) solid 6px;
    border-radius: 150px;
    width: 430px;
    height: 350px;
    /* adjust the below to control the 3D effect */
    --x: 10px;
    --y: 20px;
    transform: perspective(1000px) rotateX(var(--_a,40deg));
    /* */
    clip-path: polygon(       
       var(--y)              var(--y),       
       calc(100% - var(--y)) var(--y),       
       calc(100% - var(--y)) calc(100% - var(--y)),       
       calc(100% - var(--y) - var(--x)) var(--_c,100%),       
       calc(var(--x) + var(--y))        var(--_c,100%),      
       var(--y)        calc(100% - var(--y))       
       );
    outline: var(--y) solid rgba(0,0,0,0.4);
    outline-offset: calc(-1*var(--y));
    padding: var(--y) var(--y) 0 var(--y);
    transition: 1s;
  }

  .box:hover img {
    --_a: 0deg;
    --_c: calc(100% - var(--y));
  }

  .box {
    margin-right: 25px;
    cursor: pointer;
  }

  h2 {
    text-align: center;
    line-height: 42px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(250%);
    transition: .8s;
  }
  .box:hover h2{
    transform: translateY(0%);
    transition: .8s .2s;
  }

  .sportsGallery {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

.inverted-7 {
    font-weight: bold;
    /* display:inline-block; */
    font-family:sans-serif;
    margin:25px;
    padding:8px;
    cursor:pointer;

    background:
      linear-gradient(-45deg, #000  40%, #fff 0 60%, #000  0) right/300% 100% no-repeat,
      linear-gradient(-45deg, #0000 40%, rgba(0, 0, 0, 0.418) 0 60%, #0000 0) right/300% 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 1s;
  }
  .inverted-7:hover {
    background-position: left;
  }

  a {
    text-decoration: none;
    color: lightpink;
    font-size: 25px;
    transition: 400ms all;
}

span {
    display: inline-block;
    color: red;
}

a:hover {
    color: blue;
    font-weight: bold;
    transition: 400ms all;
    font-size: 2rem;
}

span:hover {
    color: darkred;
}


@media screen and (max-width: 1100px) {
  img {
    width: 240px;
    height: 190px;
  }
}