<div class="section1 tablediv">
    <div class="container my-2 divs py-5">
        <h1 class="mb-3">Players</h1>
        <div>
            <div>
                <button type="button" class="btn btn-primary mt-3 mb-5" (click)="GoAddPlayers()" id="addbutton">Change players on Team</button>
                <button type="button" class="btn btn-primary mt-3 mb-5" (click)="NewPlayer()" id="addbutton">create player on team</button>
            </div>
            <table class="table tabletext" *ngIf="players && players.length > 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Team</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players">
                        <td> {{player.name}}</td>
                        <td> {{player.age}}</td>
                        <td> </td>
                        <td><button type="button" class="btn btn-primary" (click)="ChangePlayer(player.id)">Change player</button></td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="!players || players.length <= 0">No Players found</p>
        </div>
    </div>
</div>