<div class="section1 tablediv">
    <div class="container my-2 divs py-5">
        <h1 class="mb-3">{{selectedTeam.name}}</h1>
        <h4>Rating: {{teamRating}}</h4>
        <div>
            <div *ngIf="credentials.role === 'Admin' && isUserAuthenticated()">
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary mt-3 mb-5" (click)="GoAddPlayers()" id="addbutton">Change player roster for the team</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary mt-3 mb-5" (click)="NewPlayer()" id="addbutton">Create player for the team</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="players && players.length > 0">
                <table class="table tabletext">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Nationality</th>
                            <th>Age</th>
                            <th>Height(cm)</th>
                            <th>Weight(kg)</th>
                            <th>Overall</th>
                            <th>Player Positions</th>
                            <th>Preferred Foot</th>
                            <th *ngIf="credentials.role === 'Admin' && isUserAuthenticated()"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of players">
                            <td> {{player.name}}</td>
                            <td> {{player.nationality}}</td>
                            <td> {{player.age}}</td>
                            <td> {{player.height_cm}}</td>
                            <td> {{player.weight_kg}}</td>
                            <td> {{player.overall}}</td>
                            <td> {{player.player_positions}}</td>
                            <td> {{player.preferred_foot}}</td>
                            <td *ngIf="credentials.role === 'Admin' && isUserAuthenticated()">
                                <button type="button" class="btn btn-primary" (click)="ChangePlayer(player.id)">Change player</button>
                                <button type="button" class="btn btn-danger" (click)="removePlayerFromTeam(player.id)">Remove player from team</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p *ngIf="!players || players.length <= 0">No Players found</p>
        </div>
    </div>
</div>