<div class="section1">
    <button class="btn back" (click)="goBack()">Back
        <img src="images/arrow2.png">
    </button>
    <div class="divs">
        <p>{{matchDetails.dateOfMatch | date: 'dd. MMM yyyy HH:mm:ss' }}</p>
            <div>
            <h1>{{matchDetails.participatingTeams[0].name}} vs {{matchDetails.participatingTeams[1].name}}</h1>
            <h2>{{matchDetails.participatingTeams[0].score}} - {{matchDetails.participatingTeams[1].score}}</h2>
            <div class="my-5"><img src="images/simu.gif"></div>
            <p *ngIf="matchDetails.matchState == 0" style="color: yellow;">Not Started Yet</p>
            <p *ngIf="matchDetails.matchState == 1" style="color: greenyellow;">First Half</p>
            <h2 *ngIf="matchDetails.matchState == 2" style="color: darkred;">Half Time Break</h2>
            <p *ngIf="matchDetails.matchState == 3" style="color: lightgreen;">Second Half</p>
            <p *ngIf="matchDetails.matchState == 4" style="color: green;">Overtime</p>
            <h2 *ngIf="matchDetails.matchState == 5" style="color: orangered;">Penalty Shootout</h2>
            <h2 *ngIf="matchDetails.matchState == 6" style="color: red;">Finished</h2>
            <h2 *ngIf="matchDetails.matchState == 2 && matchDetails.participatingTeams[0].result == 1">{{matchDetails.participatingTeams[0].name}} WON</h2>
            <h2 *ngIf="matchDetails.matchState == 2 && matchDetails.participatingTeams[1].result == 1">{{matchDetails.participatingTeams[1].name}} WON</h2>
        </div>
    </div>
    <div class="divs" id="showBetting" *ngIf="matchDetails.matchState != 6 && role != null && !errorMessage"><h2>Betting</h2>
        <p>______________________</p>
        <button class="btn btn-warning" (click)="onBetTeamA()">{{matchDetails.participatingTeams[0].name}} Wins</button>
        <button class="btn btn-warning" (click)="onBetTeamB()">{{matchDetails.participatingTeams[1].name}} Wins</button>
        <button class="btn btn-warning" (click)="onBetDraw()">Draw</button>
    </div>
</div>