.navbar-bg {
 background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 70%, rgba(25,0,51,0.8) 100%);
 height: 10vh;
}

.nav-text {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

a:hover {
    cursor: pointer;
}

/* .nav-title {
 color: white;
 text-decoration: none;
 font-size: 30px;
 margin-right: 40px;
} */

.menu {
 height: 8%;
 position: fixed;
 width: 100%;
 background: rgba(0,0,0,0.7);
 backdrop-filter: blur(10px);
 z-index: 2;
}

.menu2 {
 z-index: 2;
 background: rgba(0,0,0,0.5);
 width: max-content;
 height: 50px;
 display: block;
 padding: 0.7rem 1.7rem;
 position: fixed;
 left: 50%;
 transform: translateX(-50%);
 bottom: 2rem;
 display: flex;
 gap: 0.8rem;
 backdrop-filter: blur(5px);
 border: 5px solid rgba(0,0,0,0.2);
 border-top: none;
 border-bottom: none;
 border-radius: 50px/90px;
 color: red;
}

.menu a {
 background: transparent;
 border-radius: 10px;
 display: flex;
 font-size: 1.2rem;
 transition: all 400ms ease;
}

.menu2 a {
 background: transparent;
 border-radius: 10px;
 display: flex;
 font-size: 1.2rem;
 transition: all 400ms ease;
}

.menu2:hover {
 background: rgba(0,0,0,0.8);
}

.leftsidenav a:hover, .menu2 a:hover {
 color: red;
 transition: all 400ms ease;
 font-size: 2rem;
}

.rightsidenav a:hover, span:hover {
    color: red;
    transition: all 400ms ease;
}

p {
    margin-top: 10px;
    font-size: 1.5rem;
    color: lightblue;
    align-items: center;
}

.username {
    color: lightseagreen;
    transition: all 1000ms ease;
}

.username img{
    height: 20px;
}

.username:hover {
    cursor: pointer;
    color: seagreen;
    transition: all 1000ms ease;
}

.logo img {
    position: absolute;
    left: -2%;
    top: -45%;
    height: 150px;
}

.logo2 img {
    position: absolute;
    left: -15%;
    top: -10%;
    height: 65px;
}

.dropDownBox {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    padding: 1px;
    top: 80%;
    right: 13%;
    z-index: 2;
    border-radius: 10%;
}

.dropDownButton {
    border: none;
    background: none;
  }

.dropDownButton img {
    margin-left: 3px;
    height: 8px;
} 

.dropDownItems {
    cursor: pointer;
    padding: 4px;
    padding-top: 10px;
}

.dropDownItem {
    color: white;
    text-decoration: none;
    margin: auto;
    font-size: 20px;
}

.dropDownItems:hover {
    background-color: rgba(50,0,0,0.5);
}

.balance {
    font-size: 15px;
    position: absolute;
    right: 17.8%;
    top: 45%;
}

.balance img {
    height: 20px;
}

.balance span {
    color: yellow;
}

.balance:hover {
    cursor: default;
}  

.navIcons {
    font-size: 25px;
    margin-right: 10px;
}

@media screen and (max-width: 1000px) {

    .menu a {
        font-size: 13px;
    } 
    
    .menu2 a {
        font-size: 15px;
    }

    .menu2 {
        background: rgba(0,0,0,0.5);
        width: max-content;
        height: 150px;
        display: block;
        padding: 0.7rem 1.7rem;
        position: fixed;
        left: 8%;
        transform: translateX(-50%);
        bottom: 1%;
        display: flex;
        gap: 0.8rem;
        backdrop-filter: blur(5px);
        border: 5px solid rgba(0,0,0,0.2);
        border-top: none;
        border-bottom: none;
        border-radius: 10px/90px;
       }

       .nav-text {
        color: white;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1px;
    }

    .logo img {
        top: 15%;
        left: 0%;
        height: 50px;
    }

    .logo2 img {
        top: 0%;
        left: 30%;
        height: 50px;
    }
  }

  @media screen and (max-width: 1400px)
  {
    .logo img {
        top: 15%;
        left: 0%;
        height: 50px;
    }
  }
