<div class="section4" id="section4">
    <div class="videobackdrop">

        <!-- To autplay a video like a gif, you need to specify a few things, otherwise it will not play on first site visit
             important notes is that it has to be muted to be able to autoplay, oncanplay="this.play()" and onloadedmetadata="this.muted = true" are important solutions to get this fixed.  -->

        <div class="videodiv" id="videodiv">
            <video autoplay muted (ended)="restartVideo()" oncanplay="this.play()" class="video"
                onloadedmetadata="this.muted = true">
                <source [src]="videoSrc" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="container divs py-xxl-0">
            <h1 class="h1Shadow">SPORTHAVEN</h1>
            <h2 class="my-4 subtitle">LOW RISK LOW REWARD</h2>
            <p></p>
        </div>

    </div>
</div>



<app-betting></app-betting>
<app-footer></app-footer>