  .section1 {
    background: black;
    position: relative;
    z-index: 1;
  }

  .video {
    position: absolute;
    top: 0%;
    left: 6%;
    z-index: -1;
  }

  .divs {
    position: absolute;
    top: 35%;
    left: 37%;
    border-radius: 45px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0);
  }

  @media screen and (max-width: 1800px) {
    img {
      width: 300px;
      height: 250px;
    }
  }

