  .section4 {
    background-color: black;
    position: relative;
    z-index: 1;
  }

  .divs {
    position: absolute;
    top: 35%;
    left: 37%;
    border-radius: 45px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0);
  }

  .videobackdrop {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }

  .video {
    pointer-events: none; 
    width: 89.8%;
    position: absolute;
    top: 0%;
    left: 5%;
    z-index: -1;
  }

  .subtitle {
      margin-top: 10px;
      font-size: 1.5rem;
      color: lightblue;
      align-items: center;
  }

.divs h1 {
  font-size: 80px;
}

  @media screen and (max-width: 1000px) {
    .divs h1 {
      font-size: 50px;
    }
    .video {
      top: 20%;
      left: 0%;
      width: 100%;
    }
  }

  @media screen and (max-height: 945px) {
    .video {
      left: 6.8%;
      width: 85.8%;
    }
  }

