<div class="section1" id="section1">

    <div class="d-flex"></div>   
    <div class="container divs my-2 py-5 d-1" style="--b:.2em;--d:40px;--c:lightpink;background: rgba(0,0,0,0.6)"><h1 style="color: white; font-size: 80px;">BetHaven</h1>
    <p class="my-4">LOW RISK LOW REWARD</p>
    <p>Check out the different sports we have below.</p> 
    </div>

    <div class="sportsGallery" id="gallery">
        <div class="box">
            <h2>Soccer</h2>
            <img src="https://storage.googleapis.com/pod_public/1300/119074.jpg">
        </div>
        <div class="box">
            <h2>Basketball</h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Carter_vs_Gasol%2C_Lakers_vs_Magic.jpg/640px-Carter_vs_Gasol%2C_Lakers_vs_Magic.jpg">
        </div>
        <div class="box">
            <h2>Baseball</h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Mookie_Betts_hitting_the_ball_%2836478781664%29.jpg/640px-Mookie_Betts_hitting_the_ball_%2836478781664%29.jpg">
        </div>
        <div class="box">
            <h2>Esports</h2>
            <img src="https://cdn.sanity.io/images/zoz4y99f/production/63fe73d90694450859da70fe142d72e445a0a9cc-1600x900.jpg?w=1600&auto=format">
        </div>  
</div>

</div>

   
    
<app-betting></app-betting>

