  .section4 {
    background-color: black;
    position: relative;
    z-index: 1;
  }

  .divs {
    position: fixed;
    top: 35%;
    right: 30vh;
    /*border-radius: 45px;
    width: 25%;*/
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  }

  .videobackdrop {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }

  .video {
    pointer-events: none;
    width: 89.8%;
    position: absolute;
    top: 0%;
    left: 5%;
    z-index: -1;
  }

  .subtitle {
    margin-top: 10px;
    font-size: 7vh;
    color: #d45500ff;
    align-items: center;
    text-shadow: none;
  }

  .divs h1 {
    font-size: 20vh;
  }

  @media screen and (max-width: 1000px) {
    .divs h1 {
      font-size: 50px;
    }

    .video {
      top: 20%;
      left: 0%;
      width: 100%;
    }
  }

  @media screen and (max-height: 945px) {
    .video {
      left: 6.8%;
      width: 85.8%;
    }
  }